img{
    height: 200px;
    // object-fit: cover;
}

.hover-Img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    background-color: #fff;
}

.card-header:hover .hover-Img{
    opacity: 1;
    animation: fade-in .5s ease-in-out;
}

.card{
    cursor: pointer;
    .card-header{
        position: relative;
    }
}

.title{
    height: auto;
    overflow: auto;
    height: 50px;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}