<div class="row">
    <div class="col-md-3 mt-3" *ngFor="let prod of getProdCatgArr">
        <div class="card" [routerLink]="[prod._id]">
            <div class="card-header p-0">
                <img [src]="prod.images" [alt]="prod.title" width="200">
            </div>
            <div class="card-body">
                <small>{{prod.category}} {{prod.subcategory}}</small>
                <h3 class="font-weight-bold title">{{prod.title}}</h3>
                <span class="text-primary">{{prod.total_price}}</span>
            </div>
        </div>
    </div>
</div>
