<h1 class="text-info mt-2">Select your Interest</h1>

<div class="row">
    <div class="col-md-3 mt-3" *ngFor="let catg of getProdArr">
        <div class="card" [routerLink]="['/products', catg.title]">
            <div class="card-header p-0">
                <img [src]="catg.imgUrl" [alt]="catg.title" class="img-fluid">
            </div>
            <div class="card-body text-center">
                <h3 class="font-weight-bold text-primary mb-0 pb-0">{{catg.title}}</h3>
                <p class="p-0 m-1 text-warning font-weight-bold">{{catg.tag}}</p>
            </div>
        </div>
    </div>
</div>
    