img{
    height: 450px;
    object-fit: cover;
}

ul{
    li{
        border: none;
        margin: 0;
        padding: 0;
        i{
            color: green;
        }
    }
}

.tags{
    margin-top: 20px;
    span{
        background-color: darkgray;
        border-radius: 3px;
        margin-right: 3px;
        color: #fff;
        padding: 2px;
    }
}

.prodCount{
    .btnClick{
        border-radius: 50%;
        padding: 8px 15px;
    }
}