.main-img{
    height: 450px;
    object-fit: contain;
    animation: fade-in .6s ease-in-out;
}

.smallImgs{
    border: 2px solid darkgray;
    border-radius: 3px;
    height: 80px;
    width: 70px;
    overflow: hidden;
    margin-right: 3px;
    object-fit: contain;
}
ul{
    li{
        border: none;
        margin: 0;
        padding: 0;
        i{
            color: green;
        }
    }
}

.tags{
    margin-top: 20px;
    span{
        background-color: darkgray;
        border-radius: 3px;
        margin-right: 3px;
        color: #fff;
        padding: 2px;
        margin-top: 3px;
        display: inline-block;
    }
}

.prodCount{
    .btnClick{
        border-radius: 50%;
        padding: 8px 15px;
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}